
#main {
    display: none;
}

body {
    background: url(img/bg_img-min.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

body, html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    opacity: 0;
    filter: blur(10px);
   transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}
.icon-area {
    margin-top: 50px;
    margin-bottom: 5px;
    width: 100%;
}

#icon {
    border-radius: 100%;
    border: 1.5px solid #fff;
}

ul {
    margin-top: 40px;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

li {
    backdrop-filter: blur(10px) contrast(130%);
    background-color: rgba(87, 87, 87, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;

    text-shadow: 1px 0 0 gray, 0 1px 0 gray;
    border-radius: 1.5em;
    border: 1px solid #fff;
    padding: 5px;
    width: 20em;
    height: 2em;
}


#vanta {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.id-insta {
    backdrop-filter: blur(100px) contrast(1);
    background-color: rgba(83, 83, 83, 0.9);
    font-size: 15px;
    border-radius: 2em;
    border: 1px solid #fff;

    padding: 5px;
}

s {
    color: #fff;
}
